.App {
  width: 40%;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 4px;
}

.wrapper {
  max-height: 400px;
  overflow-y: scroll;
}

.header {
  background-color: dodgerblue;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .App {
    width: 100%;
    position: static;
    height: 100vh;
  }
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  .wrapper {
    height: 100%;
    max-height: none;
    margin-top: 36px;
  }
}
