.imgWrapper {
  position: relative;
  height: 80px;
  width: 80px;
}

.imgClass {
  cursor: pointer;
  height: 100%;
  width: auto;
  border-radius: 50%;
}

.imgWrapper:hover .tooltip {
  visibility: visible;
}
