.message {
  border-radius: 20px;
  padding: 8px 20px;
  margin: 4px;
  background-color: #eee;
  font-size: 14px;
}

.timeClass {
  font-size: 10px;
  text-align: right;
}

.userClass {
  font-size: 10px;
  text-align: left;
  font-weight: bold;
}
